/*основний колір тексту #212121; */
/*колір тексту заголовка #757575; */
/*акцент #2196F3; */
/* колір h1, лого в футері та адреси #FFFFFF; */
/*колір телефону та ел.адреси в футері rgba(255, 255, 255, 0.6);*/
/*логотип #000000;*/
/*колір основного фону #F5F5F5;*/
/*вторинний колір фону #F5F4FA;*/
/*колір шапки та футера #2F303A;*/

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --subject-color: #FFFFFF;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-bg-color: #F5F5F5;
  --secondary-bg-color: #F5F4FA;
  --nav-bg-color: #2F303A;
}

/** {
  margin: 0;
  padding: 0;
}*/

/*ul {
  list-style: none;
}*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

/*Верхня лінія*/
.header-nav {
  background-color: var(--subject-color);
}

.header-nav a{
  text-decoration: none;
  list-style: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  /*line-height: 31px;*/
  line-height: 1,1923;
  /*line-height: 100%;*/
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-color)
}

.site-nav .link,
.filter-button.button {
  color: var(--primary-text-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  /*line-height: 16px;*/
  line-height: 1,1429;
  line-height: 100%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 2%;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav,
.link:hover,
.link:focus {  
  color: var(--accent-color);
}

.site-nav,
.contacts,
.section-text,
.work,
.user,
.buttons,
.filter {
  list-style: none;
}

.contacts .contacts-link {
  font-weight: 500;
  font-size: 14px;
  /*line-height: 16px;*/
  line-height: 1,1429;
  line-height: 100%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 2%;
  color: var(--title-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*Шапка*/
.hero {
  background-color: var(--nav-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  /*line-height: 60px;*/
  line-height: 1,3636;
  line-height: 116%;
  align-items: center;
  vertical-align: top;
  letter-spacing: 6%;
  color: var(--subject-color);
}

.hero-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  /*line-height: 30px;*/
  line-height: 1,875;
  line-height: 160%;
  align-items: center;
  vertical-align: center;
  letter-spacing: 6%;
  color: var(--subject-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}



/*Особливості*/
/*.section-features {
  background-color: var(--primary-bg-color);
}*/

.section-features .feature-title {
  color: var(--primary-text-color);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  /*line-height: 16px;*/
  line-height: 1,1429;
  line-height: 100%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
}

.section-text p {
  font-size: 14px;
  /*line-height: 24px;*/
  line-height: 1,7143;
  line-height: 146%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
}


/*Чим ми займаємося*/
.heading {
  font-weight: 700;
  font-size: 36px;
  /*line-height: 42px;*/
  line-height: 1, 1667;
  line-height: 100%;
  align-items: center;
  vertical-align: top;
  letter-spacing: 3%;
}
.section-work .heading {
  color: var(--primary-text-color);
}

/*Наша команда*/
.section-user {
  background-color: var(--secondary-bg-color);
}

.section-user .heading {
  color: var(--primary-text-color);
}

.section-title {
  font-weight: 500;
  font-size: 16px;
  /*line-height: 19px;*/
  line-height: 1,1875;
  line-height: 100%;
  align-items: center;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--primary-text-color);
}
.section-user p {
  font-size: 16px;
  /*line-height: 19px;*/
  line-height: 1,1875;
  line-height: 100%;
  align-items: center;
  vertical-align: top;
  letter-spacing: 3%;
}

/*Футер*/
.footer-nav {
  background-color: var(--nav-bg-color);
}

.footer-nav a{
  text-decoration: none;
}
.foorer-logo,
.addres {
  color: var(--subject-color);
}
.nav-link {
  color: var(--footer-link-color);
}

.addres,
.nav-link {
  font-weight: 400;
  font-size: 14px;
  /*line-height: 24px;*/
  line-height: 1,7143;
  line-height: 146%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
}

.addres:hover,
.addres:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}



/*Портфоліо*/

.button-filters {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  /*line-height: 26px;*/
  line-height: 1,625;
  line-height: 139%;
  align-items: center;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  cursor: pointer;
}

.button-filters:hover,
.button-filters:focus {
  color: var(--subject-color);
  background-color: var(--accent-color);
}

.section-filters .box {
  background-color: var(--subject-color);
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  /*line-height: 36px;*/
  line-height: 2;
  line-height: 171%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 6%;
}

.section-filters p {
  font-size: 16px;
  /*line-height: 30px;*/
  line-height: 1,875;
  line-height: 160%;
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
}