/*основний колір #212121; */
/*вторинний колір #757575; */
/*акцент #2196F3; */
/* колір h1, лого в футері та адреси #FFFFFF; */
/*колір телефону та ел.адреси в футері rgba(255, 255, 255, 0.6);*/
/*колір основного фону #F5F5F5;*/
/*колір шапки та футера #2F303A;*/
/*вторинний колір фону #F5F4FA;*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --primary-bg-color: #F5F5F5;
}

body {
  font-family: 'Roboto';  
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

/*Верхня лінія*/
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
}

.logo-header {
  color: #000000;
}

.site-nav .link,
.section .section-title,
.section .header,
.section .button {
  color: var(--primary-text-color);
}

.site-nav,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contacts .contacts-link {
  color: var(--title-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/*Шапка*/
.hero-title,
.foorer-logo {
  color: #FFFFFF;
}

.hero-button {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

/*Футер*/
.addres,
.nav-link {
  color: rgba(255, 255, 255, 0.6);
}

.addres:hover,
.addres:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/*Фільтри*/
.section-filters .button-filters {
  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

.section-filters .button-filters:hover,
.button-filters:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}